// 颜色定义规范
$color-background : #f6f7fa;
$color-highlight-background : #333;
$color-dialog-background : #666;
$color-theme : #5c7dfe;
$color-theme-l : #BECBFF;
$color-theme-ll : #eef2fe;
$color-theme-d : rgba(255, 205, 49, 0.5);
$color-sub-theme : #d93f30;
$color-text : #2f3445;
$color-text-l : #a6acb0;
$color-text-ll : #d3dce6;
$color-text-lll : #f7f8fc;

$color-red : #f55f80;
$color-yellow : #f7b953;
$color-green : #aad070;
$color-purple : #8b81c5;

//字体定义规范
$font-size-small-s : 10px;
$font-size-small : 12px;
$font-size-medium : 14px;
$font-size-medium-x : 16px;
$font-size-large : 18px;
$font-size-large-x : 22px;